@import url("./tailwind.css");
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body {
font-family: 'Questrial', sans-serif;
 
}
.swiper-pagination-bullet-active {
    background-color: aliceblue !important;
}

.swiper-pagination {
    opacity: 0 !important;
}

.swiper:hover .swiper-pagination {
    opacity: 1 !important;
    transition: all 0.5s !important;
}